<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
    <div th:replace="~{component/header :: header}"></div>
        <input type="text" name="memberEmail" placeholder="계정입력" onblur="email_check()"><br>
        <p id="pcheck" style="display: none;"></p>
        <input type="password" name="memberPassword" placeholder="비번입력"><br>
        <input type="text" name="memberName" placeholder="이름입력"><br>
        <input type="date" name="memberBirth" placeholder="생일입력"><br>
        <input type="text" name="memberMobile" placeholder="번호입력"><br>
        <input type="submit" value="등록">
    </form>
    <div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">


    const email_check = () => {
        const memberEmail = document.querySelector("input[name='memberEmail']").value;
        const pcheck = document.getElementById("pcheck");
        if(memberEmail.length > 0){
            axios({
                method:"post",
                url:"/member/dup-check",
                data:{
                    memberEmail
                },

            }).then(res => {
                console.log(res)
                pcheck.style.display = "block";
                pcheck.style.color="blue";
                pcheck.innerText=res.data;
                //요청 성공 후 서버에서 200 응답
            }).catch(err => {
                console.log(err)
                pcheck.style.display = "block";
                pcheck.style.color="red";
                pcheck.innerText=err.response.data;
                // 요청 실패 또는 서버에서 4xx, 5xx 응답
            });
        // $.ajax({
        //     type:"post",
        //     url:"/member/dup-check",
        //     data:{memberEmail},
        //     success:function(){
        //             pcheck.style.display = "block";
        //             pcheck.style.color="red";
        //             pcheck.innerText="중복된이메일입니다.";
        //     }, error:function(){
        //             pcheck.style.display = "block";
        //             pcheck.style.color="blue";
        //             pcheck.innerText="사용가능이메일입니다.";
        //     }
        // });
        }else{
            pcheck.style.display = "none";
        }
    }
</script>
</html>