<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
    <table>
        <tr>
            <th>ID</th>
            <th>이메일</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>핸드폰번호</th>
        </tr>
        <tr th:each="member: ${memberList}">
            <td>
                <a th:href="@{|/member/${member.id}|}" th:text="${member.id}"></a>
            </td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberBirth}"></td>
            <td th:text="${member.memberMobile}"></td>
            <td>
                <button th:onclick="detail_fn([[${member.id}]])">조회</button>
            </td>
        </tr>
    </table>
    <div id="detail">

    </div>
    <div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">

    const detail_fn = (id) => {
        const detail = document.getElementById("detail")
      axios({
          method:"get",
          url:"/member/detail",
          params :{
                id
          },
          type:"json",
      }).then(res =>{
          let result = "<table class=\"table table-striped\">\n" +
              "    <tr>\n" +
              "      <th>id</th>\n" +
              "      <td>" + res.data.id + "</td>\n" +
              "    </tr>\n" +
              "    <tr>\n" +
              "      <th>email</th>\n" +
              "      <td>" + res.data.memberEmail + "</td>\n" +
              "    </tr>\n" +
              "    <tr>\n" +
              "      <th>name</th>\n" +
              "      <td>" + res.data.memberName + "</td>\n" +
              "    </tr>\n" +
              "  </table>";
          detail.innerHTML = result;
      }).catch(err => {
          detail.style.display="block";
          detail.innerHTML = err;
      })
    }
</script>
</html>