<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>save</h2>
<form action="/save" method="post">
  <input type="text" name="studentNumber" placeholder="학번"> <br>
  <input type="text" name="studentName" placeholder="이름"> <br>
  <input type="text" name="studentMobile" placeholder="전화번호"> <br>
  <select name="studentMajor">
    <option value="컴퓨터공학">컴퓨터공학</option>
    <option value="전자공학">전자공학</option>
    <option value="경영학">경영학</option>
  </select>
  <input type="submit" value="등록">
</form>
</body>
</html>